ZEROSHOT_MODEL = "gpt-4.1-mini" #gpt-4o-mini
# Project root (folder that contains zeroshot/ and MM_Mental_Health_data/), not the data subfolder alone
ZEROSHOT_BASE_DIR = "" # Update this 
OPENAI_API_KEY = "" # update this 
